@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family: "inter";
}
/* BOOK NOW BUTTON */
.booknow-button{
  background-color: #ff5416;
  color: white;
  width: 164px;
  height: 48px;
  font-weight: bold;
  font-size: 18px;
  gap: 4px;
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}
.booknow-button:hover{
  background-color: #31417f;
}

/* SIGN IN BUTTON */
.signin-button{
  background-color: #ff5416;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}
.signin-button:hover{
  background-color: #31417f;
}

/* BOOK NOW BORDER BUTTON */
.booknow-border{
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  width: 164px;
  height: 48px;
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}
.booknow-border:hover{
  background-color: #ff5416;
  border: none;
}

.hero-text{
  height: 100vh;
  text-align: center;
  padding: 210px;
  gap: 12px;
  line-height: 1.3;
}

.hero-image{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/hero.jpg");
  background-position: center;
  background-size: cover;
}

